
html {
    margin: 0;
    padding: 0;
}

body {
    font: 90% Noto;
    line-height: 1.88889;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    text-align: justify;
}
h1 {
    font: italic normal 1.8em papyrus;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: silver;
}

h3 {
    font: italic normal 1.8em Franklin Gothic Medium;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: silver;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0000ff;
}

a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #00f2ff;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #ff0000;
}

abbr {
    border-bottom: none;
}


/* specific divs */
.page-wrapper {
    background-color: black;
    padding: 0 175px 0 110px;
    margin: 0;
    position: relative;
}

.intro {
    min-width: 470px;
    width: 100%;
}

header h1 {
    background: transparent url(https://static.wikia.nocookie.net/powerrangers/images/9/97/Power_Rangers_Dino_Thunder_S12_Logo.png/revision/latest/scale-to-width-down/350?cb=20210313233258) no-repeat top left;
    margin-top: 10px;
    display: block;
    width: 350px;
    height: 224px;
    float: left;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

header h2 {
    margin-top: 58px;
    margin-bottom: 40px;
    width: 200px;
    height: 18px;
    float: right;
}

header {
    padding-top: 20px;
    height: 87px;
}

.summary {
    clear: both;
    margin: 20px 20px 20px 10px;
    width: 160px;
    float: left;
}

    .summary p {
        font: italic 1.1em/2.2 georgia;
        text-align: center;
    }

.preamble {
    clear: right;
    padding: 0px 10px 0 10px;
}

.supporting {
    padding-left: 10px;
    margin-bottom: 40px;
}

footer {
    text-align: center;
}

    footer a:link, footer a:visited {
        margin-right: 20px;
    }

.sidebar {
    margin-left: 600px;
    position: absolute;
    top: 0;
    right: 0;
}

    .sidebar .wrapper {
        font: 10px verdana, sans-serif;
        background: transparent;
        padding: 10px;
        margin-top: 150px;
        width: 130px;
    }


    .sidebar ul {
        margin: 0;
        padding: 0;
    }

    .sidebar li {
        line-height: 1.3em;
        background-color: ghostwhite;
        display: block;
        padding-top: 5px;
        margin-bottom: 5px;
        list-style-type: none;
    }

        .sidebar li a:link {
            color: #ff00ae;
        }

        .sidebar li a:visited {
            color: #ff0000;
        }

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: black;
    color: silver;
}
